{% extends "base.html" %}{% load i18n %}
{% block heading %}{% trans "Choose a new password" %}{% endblock %}
{% block content %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% trans "Save my new password" %}</button>
    </form>
  {% else %}
    <p>{% trans "This link is invalid, probably because it has already been used." %}</p>
    <p><a href="{% url 'accounts:password_reset' %}">{% trans "Ask for a new one" %}</a></p>
  {% endif %}
{% endblock %}
